{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false
    },
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "rules": {}
}
